.App {
  text-align: center;
}

header {
  box-sizing: border-box;
  height: 175px;
  background: #999999;
}

header:hover {
  border: 3px solid black;
}

header i {
  font-size: 100px;
  margin-top: 15px;
  color: white;
}

header > h1 {
  color: white;
  margin: 0;
  text-decoration: none;
}

span {
  font-weight: bold;
}

.done {
  text-decoration-line: line-through;
  text-decoration-color: black;
  opacity: .5;
}

body {
  height: 200vh;
}

#box1 {
  position: relative;
  top: 50px;
  left: 30px;
  background: yellow;
}

#box2 {
  position: absolute;
  top: 450px;
  left: 725px;
  background: red;
}

#box3 {
  position: fixed;
  top: 450px;
  left: 1050px;
  background: blue;
}

div + h2 {
  color: red;
  font-family: Georgia, 'Times New Roman', Times, serif;
}